# {{ ansible_managed }}

input {
  kafka {
    zk_connect => "{{ zookeeper_hosts }}"
    topic_id => "{{ log_metrics_source.topic }}"
    group_id => "{{ log_metrics_source.group }}"
    consumer_id => "{{ log_metrics_consumer_id }}"
    consumer_threads => "{{ log_metrics_consumer_threads|int }}"
    fetch_message_max_bytes => "{{ log_metrics_fetch_msg_max_bytes|int }}"
  }
}

{% if log_metrics_detect_log_levels is defined and log_metrics_detect_log_levels|length > 0 %}

filter {

  # drop logs that have not set log level
  if "level" not in [log] {
    drop { periodic_flush => true }
  } else {
    ruby {
      code => "
        log_level = event['log']['level'].downcase
        event['log']['level'] = log_level
      "
    }
  }

  # drop logs with log level not in {{ log_metrics_detect_log_levels|join(",") }}
  if [log][level] not in [{{ log_metrics_detect_log_levels|join(",")}}] {
    drop { periodic_flush => true }
  }

  ruby {
    code => "
      log_level = event['log']['level'].downcase
      log_ts = Time.now.to_f * 1000.0

      # metric name
      metric_name = '{{ log_metrics_metric_prefix }}.%s' % log_level

      # build metric
      metric = {}
      metric['name'] = metric_name
      metric['timestamp'] = log_ts
      metric['value'] = 1
      metric['dimensions'] = event['log']['dimensions']

      # value_meta cannot be empty
      # monasca-api(python) throws errors
      value_meta = {}
      value_meta['sporadic'] = true
      metric['value_meta'] = value_meta

      # once sporadic will be supported in thresh
      # think about moving that somewhere, to metric directly I guess

      event['metric'] = metric.to_hash
    "
  }

  mutate {
    remove_field => ["log", "@version", "@timestamp", "log_level_original", "tags"]
  }

}

{% else %}

filter {
  drop { periodic_flush => true }
}

{% endif %}

output {
  kafka {
    bootstrap_servers => "{{ kafka_hosts }}"
    topic_id => "{{ log_metrics_target.topic }}"
    client_id => "{{ log_metrics_client_id }}"
    compression_type => "{{ log_metrics_client_compression }}"
  }
}
