# {{ ansible_managed }}

description "monasca-log-metrics"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

setuid {{ log_metrics_user }}
setgid {{ log_metrics_group }}

exec {{logstash_dest}}/bin/logstash -f {{ log_metrics_conf_file }} -l {{ log_metrics_log_dir }}/log-metrics.log {{ log_metrics_verbosity }}
