# {{ ansible_managed }}

[Unit]
Description=Monasca Log Metrics
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ log_metrics_user }}
Group={{ log_metrics_group }}
Restart=on-failure
ExecStart={{ logstash_dest }}/bin/logstash -f {{ log_metrics_conf_file }} -l {{ log_metrics_log_dir }}/log-metrics.log {{ log_metrics_verbosity }}

[Install]
WantedBy=multi-user.target
